[submodule "Interpreter"]
	path = Interpreter
	url = git@github.com:Xylphy/Interpreter.git
[submodule "CS322"]
	path = CS322
	url = git@github.com:Xylphy/Interpreter.git
[submodule "CSIT343"]
	path = CSIT343
	url = git@github.com:Xylphy/CSIT343.git
[submodule "CS346"]
	path = CS346
	url = git@github.com:Xylphy/CS346.git
